// Estilo de la tabla de ranking - Mobile First

.ranking {
    min-height: 70vh;
    padding: 0.5rem;
    color: $color-blanco;
    font-family: $homefont; // Fuente alternativa para mejor legibilidad en pantallas pequeñas
    text-align: center;

    &__title {
        font-size: 1.25rem; // Tamaño de fuente reducido para títulos en móvil
        margin-bottom: 1rem;
        color: $color-blanco;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        margin: 0 auto;
        background-color: $color-negro-profundo;
        font-size: 0.65rem; // Tamaño de fuente más pequeño para móviles
    }

    &__thead {
        background-color: $color-azul-oscuro-apagado;
        color: $color-blanco;

        th {
            padding: 0.5rem;
            text-transform: uppercase;
        }
    }

    &__tbody {
        tr {
            &:nth-child(even) {
                background-color: $color-gris-medio;
            }

            &:nth-child(odd) {
                background-color: $color-gris-oscuro;
            }

            td {
                padding: 0.4rem;
                color: $color-blanco;
                word-wrap: break-word; // Asegura que el texto se ajuste a la celda
            }
        }
    }
}

// Estilos Responsive
@media (min-width: 768px) {
    .ranking {
        padding: 1rem;

        &__title {
            font-size: 1.5rem; // Incrementa ligeramente para pantallas medianas
        }

        &__table {
            font-size: 0.85rem; // Tamaño de fuente un poco más grande para pantallas medianas
        }

        th,
        td {
            padding: 0.75rem;
        }
    }
}

@media (min-width: 1024px) {
    .ranking {
        &__title {
            font-size: 2rem; // Título más grande para pantallas grandes
        }

        &__table {
            width: 90%;
            font-size: 1rem; // Tamaño de fuente más grande para pantallas grandes
        }

        th,
        td {
            padding: 1rem;
        }
    }
}
