@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2e302f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 88px;
}
.header__logo-toggle {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}
.header__logo-toggle .header__brand {
  text-decoration: none;
  color: inherit;
}
.header__logo-toggle .header__toggle-menu-btn {
  color: white;
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.header__nav {
  position: fixed;
  top: 0;
  right: -75%;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  transition: right 0.3s ease;
  z-index: 1000;
}
.header__nav.active {
  right: 0;
}
.header__nav .header__close-menu-btn {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.header__nav .header__nav-content {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  padding-top: 4rem;
}
.header__nav .nav-link {
  width: 90px !important;
  height: 55px;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}
.header__nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.header__session-links {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__session-links .header__profile-menu {
  display: flex;
  flex-direction: column;
}
.header__session-links .header__profile-img {
  background-color: white;
  object-fit: cover;
}
@media (max-width: 767px) {
  .header__session-links .header__profile-img {
    position: absolute;
    top: -17rem;
    left: -4rem;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .header__session-links .header__profile-img {
    position: static;
    margin-left: 1rem;
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .header__session-links {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
  .header__session-links .header__profile {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
  }
  .header__session-links .header__profile .header__profile-img {
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  .header__session-links .header__profile .header__profile-menu {
    display: none;
    width: 100px;
    position: absolute;
    top: 100%;
    left: -10%;
    background-color: #2e302f;
    border: 1px solid #596161;
    border-radius: 5px;
    z-index: 1001;
    padding: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .header__session-links .header__profile .header__profile-menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
  }
  .header__session-links .header__profile .header__profile-menu a:hover {
    background-color: #596161;
  }
  .header__session-links .header__profile:hover .header__profile-menu {
    display: block;
  }
  .header__session-links a {
    background-color: #2e302f;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease;
  }
  .header__session-links a:hover {
    background-color: #596161;
    color: white;
  }
}
@media (min-width: 768px) {
  .header__nav {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    color: inherit;
    transition: none;
    right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .header .header__toggle-menu-btn,
  .header .header__close-menu-btn {
    display: none;
  }
  .header .header__nav-content {
    flex-direction: row;
    padding-top: 0;
  }
}

.home__main {
  width: 100vw !important;
}
.home__main div div {
  margin: 0;
  padding: 0;
}
.home__main div div img {
  width: 100% !important;
  min-height: 252px;
}
.home__main div #Home-description {
  background-color: wheat;
  padding: 1rem;
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home__main div #Home-description p {
  font-family: "Special Elite", cursive;
  color: black;
  font-size: large;
  font-weight: normal;
}
.home__main div #Home-description a {
  background-color: darkgreen;
  border: 2px solid black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  padding-left: 25px;
  padding-right: 25px;
}

.signup-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

main.user__profile {
  background-color: gray;
  min-height: 80vh;
}
main.user__profile .profile__INB {
  padding-top: 20px;
  margin-left: 1rem;
}
main.user__profile .profile__INB .profile__image {
  background-color: white;
  width: 100px;
  height: 100px;
}
main.user__profile .profile__INB .profile__info {
  display: flex;
  justify-content: space-around;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  margin-left: 1rem;
}
main.user__profile .profile__INB .profile__info h3 {
  color: white;
  width: 200px; /* Ancho fijo */
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente en función del tamaño del viewport */
  max-width: 100%;
}
main.user__profile .profile__INB .profile__info #change-image {
  background-color: aliceblue;
  color: black;
  border: 1px solid black;
  padding: 2px;
}
main.user__profile .profile__mailinfo {
  margin-top: 2rem;
}
main.user__profile .profile__mailinfo h4 {
  color: white;
}
main.user__profile .profile__mailinfo div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}
main.user__profile .profile__mailinfo div p {
  margin: 0;
  padding: 0;
  color: white;
}
main.user__profile .profile__mailinfo div #change-mail {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid black;
  height: 30px;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
main.user__profile .profile__gameinfo {
  margin-top: 2rem;
}
main.user__profile .profile__gameinfo h4 {
  color: white;
}
main.user__profile .profile__gameinfo p {
  color: white;
}
main.user__profile .profile__delete {
  width: 100%;
  display: flex;
  justify-content: center;
}
main.user__profile .profile__delete .profile__button {
  background-color: rgb(210, 25, 25);
  color: white;
  margin-top: 6rem;
}

.footer {
  background-color: #2e302f;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif !important;
  padding: 20px 10px;
  text-align: center;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__section {
  width: 100%;
  margin-bottom: 20px;
}
.footer__title {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin-bottom: 5px;
}
.footer__link {
  color: #fff;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__text {
  margin: 10px 0;
}
.footer__donation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.footer__donation-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}
.footer__donation-logo {
  width: 80px;
  height: auto;
  display: block;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }
  .footer__section {
    width: auto;
    margin-bottom: 0;
  }
  .footer__title {
    font-size: 20px;
    font-weight: bold;
  }
  .footer__donation-logo {
    width: 100px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 20px 40px;
  }
  .footer__container {
    max-width: 1200px;
  }
  .footer__section {
    padding: 10px;
  }
  .footer__donation-logo {
    width: 120px;
  }
}
.ranking {
  background-color: #f0f0f0;
}
.ranking__title {
  font-family: "Press Start 2P", cursive;
  font-size: 2rem;
  color: #00ff00;
  text-shadow: 2px 2px 0 #333;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}
.ranking__table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-family: "Special Elite", cursive;
}
.ranking__thead {
  background-color: #222;
}
.ranking__th {
  padding: 0.1rem;
  border: 2px solid #00ff00;
  text-align: center;
  font-size: 0.55rem;
  font-family: "Press Start 2P", cursive;
  color: #00ff00;
}
.ranking__tbody {
  background-color: #000;
}
.ranking__row {
  border-bottom: 1px solid #333;
}
.ranking__cell {
  padding: 0.1rem;
  text-align: center;
  font-size: 0.55rem;
  color: #fff;
  font-size: large;
  font-family: sans-serif !important;
}
.ranking__empty-cell {
  color: #888;
}
@media (max-width: 768px) {
  .ranking__title {
    font-size: 1rem;
  }
  .ranking__th, .ranking__cell {
    padding: 0.7rem;
    font-size: 0.6rem;
  }
  .ranking .ranking__cell {
    font-size: small !important;
    font-family: sans-serif !important;
  }
}
@media (max-width: 480px) {
  .ranking__title {
    font-size: 1rem;
  }
  .ranking__th, .ranking__cell {
    padding: 0.5rem;
    font-size: 0.55rem;
  }
  .ranking .ranking__cell {
    font-size: small !important;
    font-family: sans-serif !important;
  }
}

.game-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game-main .game-main__scene {
  width: 100%;
  max-width: 1000px;
  aspect-ratio: 1050/735;
  background-color: gray;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.game-main .game-main__scene .scene__background,
.game-main .game-main__scene .scene__filter,
.game-main .game-main__scene .scene__interface,
.game-main .game-main__scene .scene__effects {
  position: absolute;
  width: 100%;
  height: 100%;
}
.game-main .game-main__scene .scene__background {
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 1;
}
.game-main .game-main__scene .scene__filter {
  background-color: rgba(0, 255, 0, 0.5);
  z-index: 2;
}
.game-main .game-main__scene .scene__interface {
  background-color: rgba(0, 0, 255, 0.5);
  z-index: 3;
}
.game-main .game-main__scene .scene__effects {
  background-color: rgba(255, 255, 0, 0.5);
  z-index: 4;
}
.game-main__menu {
  width: 100%;
  max-width: 1000px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #596161;
}
.game-main__menu button {
  background-color: #7c4a52;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.game-main__text {
  background-color: #2e302f;
  width: 100%;
  max-width: 1000px;
  min-height: 180px;
}
@media (min-width: 1000px) {
  .game-main__text {
    min-height: auto;
    height: 130px !important;
  }
}
.game-main__text p {
  font-family: "Press Start 2P", cursive;
  color: #fefefe;
  font-size: 0.7rem;
  text-align: start;
  padding: 20px;
}

/*# sourceMappingURL=General_Style.css.map */
